spring:
  datasource:
    url: jdbc:mysql://8.130.142.163:3306/mybatis?useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=utf8
    username: mybatis
    password: aKAndbJFJxtFZb2W
  devtools:
    restart:
      enabled: false

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

# springdoc-openapi项目配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: org.example.helloworld.controller
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn

logging:
  level:
    root: INFO
    org.example.helloworld: INFO
    org.springframework.web: INFO
