spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mybatisdb?useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=utf8
    username: root
    password: Aa123456
  devtools:
    restart:
      enabled: true
      additional-paths: src/main/java

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

knife4j:
  enable: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

logging:
  level:
    root: INFO
    org.example.helloworld: DEBUG
    org.springframework.web: DEBUG

